<style>
    .container {
        height: inherit;
    }
    h1 {
        margin: 140px 0 70px;
    }
    p {
        margin-bottom: 400px;
    }
</style>

<div class="container">
    <h1>Contact Us</h1>
    <p>Thank you for contacting us. Please leave a message!</p>
</div>

<input type="text">