<style>
    .container {
        height: inherit;
    }
    h1 {
        margin: 140px 0 70px;
    }
    p {
        margin-bottom: 400px;
    }
</style>

<div class="container">
    <h1>Welcome to the Test Site</h1>
    <p>Welcome. Practice your ASL here!</p>
</div>