<style>
    .container {
        height: inherit;
    }
    h1 {
        margin: 140px 0 70px;
    }
    p {
        margin-bottom: 400px;
    }
</style>

<div class="container">
    <% if user_signed_in? %>
        <h1>Welcome to the Test Site</h1>
    <% else %>
        <h1>Welcome back, User.</h1>
    <% end %>
    <p>Welcome. Practice your ASL here!</p>
</div>