//@import "bootstrap";
$font-family-sans-serif:
  // Cross-platform generic font family (default user interface font)
  system-ui,
  // Safari for macOS and iOS (San Francisco)
  -apple-system,
  // Windows
  "Segoe UI",
  // Android
  Roboto,
  // Basic web fallback
  "Helvetica Neue", Arial,
  // Linux
  "Noto Sans",
  "Liberation Sans",
  // Sans serif fallback
  sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$first: #0a369d;
$second: #4472CA;
$third: #5E7CE2;
$fourth: #92B4F4;
$fifth: #CFDEE7;
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html {
    background-color: $third;
    font-family: $font-family-sans-serif;
}
body {
    background-color: white;
}
header {
    height: 50px;
    display: flex;
    background-color: $first;
    color: white;
    align-items: center;
}
footer {
    background-color: $third;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
a {
    text-decoration: none;
    color: white;
}
nav {
    display: flex;
    gap: 15px;
    height: 100%;
    flex-direction: row;
}
nav a, nav button {
    height: 100%;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav button {
    background-color: initial;
    color: white;
    font-family: inherit;
    font-size: inherit;
}
nav a:hover, nav button:hover {
    background-color: $second;
}
.navbar-nav {
    display: flex;
    flex-direction: row;
}
.navbar-nav li {
    text-decoration: none;
    list-style: none;
}
.container {
    max-width: 1080px;
    width: 90%;
    margin: auto;
    height: inherit;
}